#logoo {
    height: 50px;
    width: 250px;
}
#kepdiv {
    height: 500px;
    width: 100%;
}
#fejkep {
    height: 15%;
}
@media screen and (max-width: 600px) {
    #asd {
        display: none;
    }
}
@media screen and (max-width: 345px) {
    #logoo {
        display: none;
    }
}
#tartalom {
    margin-top: 3.5%;
}
#nav{
    background-color: rgba(163, 159, 161, 0.8);
}
#asd {
    margin-top: 0.5%;
}
.dropdown-item {
    color: black;
}
#navbarSupportedContent a {
    color: white;
}

#navbarSupportedContent .dropdown-menu  {
    background-color: rgba(163, 159, 161, 0.8);
}
#zolikakep{
    width: 100%;
    max-height: 65%;
}

  #leiras {
    margin-top: 1.5%;
  }
  #leirasszoveg {
    padding: 2%;
  }
  #h2{
    margin-top: 2.5%;
    text-align: center;
  }
  #h3 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  